body, .bg-light{
    background-color: #d4d4d4 !important;
}
.container-fluid {
    padding: 15px 30px 15px 30px;
}
.menu-card{
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
}
#chicken{
    background-color: #ffdfb8;
}
#beef{
    background-color: #faffd3;
}
#sushi{
    background-color: #bac2f1;
}
h1{
    margin-top: 15px;
    margin-bottom: 20px;
}
h3{
    margin-top: 5px;
    margin-bottom: 10px;
}
button{
    float: right;
}
.navbar-nav {
    text-align: center;
}
.navbar-nav li{
    border-bottom: 1.5px solid black;
    
}
.nav-link a {
    color: black;
}
